html,
body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  /* background: url("liquid.bmp"); */
  background: linear-gradient(0deg, black, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
  backdrop-filter: contrast(170%) brightness(1000%);
  background-size: "auto";
}

#video {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  filter: saturate(0%) contrast(500%);
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  filter: drop-shadow(-0.033em 0 1px rgba(255, 0, 0, 0.67))
    drop-shadow(0.033em 0 1px rgba(0, 0, 255, 0.67));
}

#canvas-container {
  transform: rotateY(180deg);
}

#loading {
  color: black;
  filter: drop-shadow(-0.033em 0 1px rgba(255, 0, 0, 0.67))
    drop-shadow(0.033em 0 1px rgba(0, 0, 255, 0.67));
  opacity: 0.75;
  mix-blend-mode: screen;
  transform: rotateY(180deg);
  margin: auto;
  text-align: center;
  width: 100%;
  font-size: 96px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
